<div class="register">
  <div id="lino">
    <img src="../../../assets/lino.svg" alt="Lino" />
    <p class="h1">Lino freut sich auf dein Profil!</p>
  </div>
  <form [formGroup]="signupForm"  (ngSubmit)="setUserData()">
      <div class="form-group">
          <label for="email">E-Mail</label>
          <div id="loginEmail" class="input">
            <img class="img-right" src="../../../assets/mail.svg" alt="Mail Icon" />
            <input type="email" formControlName="email" />
          </div>
          <p class="alert" *ngIf="email.invalid && email.dirty">
            E-Mail ungültig
          </p>
          <p class="alert" *ngIf="errorEmail">E-Mail existiert bereits.</p>
      </div>
      <div class="form-group">
          <label for="username">Benutzername</label>
          <div id="loginEmail" class="input">
            <img class="img-right" src="../../../assets/mail.svg" alt="Mail Icon" />
            <input type="text" formControlName="username" required/>
          </div>
          <p class="alert" *ngIf="username.invalid && username.touched" >
              Benutzername muss länger als 4 Zeichen sein.
          </p>
          <p class="alert" *ngIf="errorUsername">Benutzername existiert bereits.</p>
      </div>
      <div id="registerButton">
        <button type="submit" [disabled]="!signupForm.valid" class="btn-turquoise">Weiter</button>
      </div>
      <p id="login">Bereits registriert? Hier <a routerLink="/login" class="btn-secondary">anmelden.</a></p>
  </form>
</div>
