<div class="projectrequest-card">
  <div class="projectrequest-top">
    <img src="../../../../assets/icons/icon-72x72.png" class="icon-small" alt="icon">
    <img src="../../../../assets/icons/icon-72x72.png" class="icon-small" alt="icon">
    <div>
      <div class="projectrequest-text-container">
        <h3>Bohnen pflanzen</h3>
        <p class="text-fs-13"><span class="text-bold">Alter:</span> 6 - 8 Jahre</p>
        <p class="text-fs-13"><span class="text-bold">Zeit:</span> 20 Minuten bis 1 Stunde</p>
      </div>
      <div class="projectrequest-icon-container">
        <img src="../../../../assets/icons/icon-72x72.png" class="projectrequest-icon" alt="icon">
      </div>
    </div>
  </div>
  <hr>
  <div class="projectrequest-bottom">
    <div class="projectrequest-icon-container">
      <img src="../../../../assets/icons/icon-72x72.png" class="projectrequest-icon" alt="icon">
    </div>
    <div class="projectrequest-text-container">
      <h5>Maja</h5>
      <button class="btn-green-sm" href="">Annehmen</button>
      <button class="btn-green-sm-ol" href="">Ablehnen</button>
    </div>
  </div>
</div>
