<div class="notification-card">
  <div class="notification-icon-container">
    <img src="../../../../assets/icons/icon-72x72.png" class="notification-icon" alt="icon">
  </div>
  <div class="notification-text-container">
    <h5 class="text-green">Projekteinladung</h5>
    <p class="text-fs-13"><span class="text-bold">Annika</span> hat deine Projekteinladung <span class="text-bold">Bienenwiese sähen</span> angenommen.</p>
  </div>
</div>
<div class="notification-card">
  <div class="notification-icon-container">
    <img src="../../../../assets/icons/icon-72x72.png" class="notification-icon" alt="icon">
  </div>
  <div class="notification-text-container">
    <h5 class="text-yellow">Beitrag</h5>
    <p class="text-fs-13"><span class="text-bold">Thommi</span> gefällt, dass du das Projekt <span class="text-bold">Bohnen pflanzen</span> gestartet hast.</p>
  </div>
</div>
<div class="notification-card">
  <div class="notification-icon-container">
    <img src="../../../../assets/icons/icon-72x72.png" class="notification-icon" alt="icon">
  </div>
  <div class="notification-text-container">
    <h5 class="text-turquoise">Freundschaftsanfrage</h5>
    <p class="text-fs-13"><span class="text-bold">HerrNilsson</span> hat deine Freundschaftsanfrage angenommen.</p>
  </div>
</div>
