<div>
  <div id="lino">
    <img src="../../../assets/lino.svg" alt="Lino" />
    <p class="h1">Wähle ein Profilbild</p>
  </div>
  <div class="select-profile-picture">
    <div class="profil-container" *ngFor="let image of profilImages">
      <img class="profil-images" src="https://linodh.herokuapp.com/{{ image.imgUrl }}" (click)="selectImage(image.imgUrl, $event)">
    </div>
    <p *ngIf="error" class="alert">Kein Profilbild ausgewählt.</p>
  </div>
  <br>
  <div class="btn">
    <button class="btn-turquoise" (click)="saveImgInProfil()">Speichern</button>
  </div>
</div>
